<div class="column is-2 box is-align-self-baseline">
    <aside class="menu has-text-left">
        <p class="menu-label">
            &nbsp&nbsp&nbsp{{_("General")}}
        </p>
        <ul class="menu-list">
            <li><a href="{{ url_for('main.profile') }}">
                <span class="icon">
                    <i class="fas fa-running"></i>
                </span>
                <span>{{_("Personal Status")}}</span>
            </a></li>
            <!-- <li><a>{{_("Courses")}}</a></li>
            <li><a>{{_("Timetable")}}</a></li> -->
        </ul>         
        {% if user.is_teacher %}
            <hr>
            <p class="menu-label">
                &nbsp&nbsp&nbsp{{_("Teaching")}}
            </p>
            <ul class="menu-list">               
                               
            </ul>        
        {% endif %}

        {% if user.is_admin %}
            <hr>
            <p class="menu-label">
                &nbsp&nbsp&nbsp{{_("Administration")}}
            </p>
            <ul class="menu-list">                
                <li><a href="{{ url_for('admin.users') }}">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span>{{_("Users")}}</span>
                </a></li> 
                <li><a>
                    <span class="icon">
                        <i class="fas fa-wrench"></i>
                    </span>
                    <span>{{_("Config")}}</span>
                </a></li>
            </ul>        
        {% endif %}
    </aside>
</div>
