{% extends "base.html" %}

{% block content %}
    <section class="section">
        <nav class="level">
            <div class="level-item has-text-centered">
                <form action="" method="post">
                    <div class="field has-addons">
                        {{ form.hidden_tag() }}
                        <p>{{ form.title(class="input", placeholder="Title") }}</p>&nbsp
                        <p>{{ form.artist(class="input", placeholder="Artist") }}</p>&nbsp
                        <p>{{ form.release(class="input", placeholder="Release") }}</p>&nbsp
                        <p>{{ form.submit(class="button") }}</p>
                    </div>
                </form>
            </div>
        </nav>
        <section class="section">
            {% if songs != None %}
                <table class="table is-fullwidth has-text-left is-hoverable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Release</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>
                                <img width="64" height="64" src="{{ song.cover_url }}"/>
                            </td>
                            <td>{{ song.title }}</td>
                            <td>{{ song.artist }}</td>
                            <td>{{ song.release }}</td>
                            <td>{{ song.year }}</td>
                            <td>
                                <form action="choose" method="POST">
                                    <button class="button" name="{{ song.__dict__ }}">
                                            <span class="icon is-small">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </section>
    </section>
{% endblock %}