{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <section class="section">
                {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    <section class="section">
        {% if songs != [] %}
            <table class="table is-fullwidth has-text-left is-hoverable">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th class="order">Title</th>
                    <th class="order">Artist</th>
                    <th class="order">Release</th>
                    <th class="order">Year</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <img width="64" height="64" src="{{ song.cover_url }}"/>
                        </td>
                        <td>{{ song.title }}</td>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.release }}</td>
                        <td>{{ song.year }}</td>
                        <td>
                            <div class="field has-addons">
                                <form action="collection/download" method="POST">
                                    <button class="button" name="{{ song.id }}">
                                        <span class="icon is-small">
                                            <i class="fas fa-download"></i>
                                        </span>
                                    </button>
                                </form>
                                &nbsp
                                <form action="collection/edit" method="POST">
                                    <button class="button" name="{{ song.id }}">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </button>
                                </form>
                                &nbsp
                                <form action="collection/delete" method="POST">
                                    <button class="button is-danger" name="{{ song.id }}">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="subtitle">
                There are no songs in your collection.
            </p>
        {% endif %}
    </section>

    <script>
        function table_sort() {
            const styleSheet = document.createElement('style')
            styleSheet.innerHTML = `
                    .order-inactive span {
                        visibility:hidden;
                    }
                    .order-inactive:hover span {
                        visibility:visible;
                    }
                    .order-active span {
                        visibility: visible;
                    }
                `
            document.head.appendChild(styleSheet)

            document.querySelectorAll('th.order').forEach(th_elem => {
                let asc = true
                const span_elem = document.createElement('span')
                span_elem.style = "font-size:0.8rem; margin-left:0.5rem"
                span_elem.innerHTML = "▼"
                th_elem.appendChild(span_elem)
                th_elem.classList.add('order-inactive')

                const index = Array.from(th_elem.parentNode.children).indexOf(th_elem)
                th_elem.addEventListener('click', (e) => {
                document.querySelectorAll('th.order').forEach(elem => {
                    elem.classList.remove('order-active')
                    elem.classList.add('order-inactive')
                })
                th_elem.classList.remove('order-inactive')
                th_elem.classList.add('order-active')

                if (!asc) {
                    th_elem.querySelector('span').innerHTML = '▲'
                } else {
                    th_elem.querySelector('span').innerHTML = '▼'
                }
                const arr = Array.from(th_elem.closest("table").querySelectorAll('tbody tr'))
                arr.sort((a, b) => {
                    const a_val = a.children[index].innerText
                    const b_val = b.children[index].innerText
                    return (asc) ? a_val.localeCompare(b_val) : b_val.localeCompare(a_val)
                })
                arr.forEach(elem => {
                    th_elem.closest("table").querySelector("tbody").appendChild(elem)
                })
                asc = !asc
                })
            })
        }
 
        table_sort()
     </script>
{% endblock %}