{% extends "base.html" %}

{% block content %}

    <section class="section">
        <nav class="level">
            <div class="level-item has-text-centered">
                <button class="button js-modal-trigger" data-target="modal-new-playlist"
                        onclick="deselect_all(); get_checkboxes(); update_add_table_rows();">Add songs
                </button>
            </div>
        </nav>
        {% if songs != [] %}
            <table class="table is-fullwidth has-text-left is-hoverable" id="song_table">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th class="order">Title</th>
                    <th class="order">Artist</th>
                    <th class="order">Release</th>
                    <th class="order">Year</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <img width="64" height="64" src="{{ song.cover_url }}"/>
                        </td>
                        <td>{{ song.title }}</td>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.release }}</td>
                        <td>{{ song.year }}</td>
                        <td>
                            <div class="field has-addons">
                                <form action="../songs/collection/download" method="POST">
                                    <button class="button" name="{{ song.id }}">
                                            <span class="icon is-small">
                                                <i class="fas fa-download"></i>
                                            </span>
                                    </button>
                                </form>
                                &nbsp
                                <form action="../songs/collection/edit" method="POST">
                                    <button class="button" name="{{ song.id }}">
                                            <span class="icon is-small">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                    </button>
                                </form>
                                &nbsp
                                <form action="remove" method="POST">
                                    <button class="button is-danger" name="{{ song.id }}">
                                            <span class="icon is-small">
                                                <i class="fas fa-times"></i>
                                            </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="subtitle">
                There are no songs in your playlist.
            </p>
        {% endif %}
    </section>

    <style>
        .table-size-limit {
            max-height: calc(75vh);
        }
    </style>
    <div class="modal" id="modal-new-playlist">
        <div class="modal-background"></div>
        <div class="modal-card">
            <form action="" method="post">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add songs to playlist {{ playlist.name }}</p>
                    <!-- <button class="delete" aria-label="close"></button> -->
                </header>
                <section class="modal-card-body table-size-limit">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div class="field has-addons">
                                {{ form.hidden_tag() }}
                                <p>{{ form.title(class = "input", type = "text", placeholder = "Title", id = "search_title", oninput = "update_add_table_rows()") }}</p>
                                &nbsp
                                <p>{{ form.artist(class = "input", type = "text", placeholder = "Artist", id = "search_artist", oninput = "update_add_table_rows()") }}</p>
                                &nbsp
                            </div>
                        </div>
                    </nav>
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <div class="level-item">

                            </div>
                            <div class="level-item">

                            </div>
                            <div class="level-item">

                            </div>
                        </div>
                    </nav>
                    <!-- Table with results -->
                    <table class="table is-fullwidth has-text-left is-hoverable">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Release</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>                                
                            {% for song in collection %}
                                {% if song not in songs %}
                                    <tr id="{{ song.id }}">
                                        <td>
                                            <input type="checkbox" onclick="update_selected_count();" name="{{ song.id }}">
                                        </td>
                                        <td>{{ song.title }}</td>
                                        <td>{{ song.artist }}</td>
                                        <td>{{ song.release }}</td>
                                        <td>{{ song.year }}</td>
                                    </tr>
                                {% endif %} 
                            {% endfor %}
                        </tbody>
                    </table>

                </section>
                <footer class="modal-card-foot">
                    {{ form.submit(class = "button is-success") }}
                    <button class="button" onclick="select_all(); return false;">Select all</button>
                    <button class="button" onclick="deselect_all(); return false;">Deselect all</button>
                    <p id="result_count"></p>
                    &nbsp
                    <p id="selected_count"></p>

                    <!-- <button class="button is-success">Add selected</button>
                    <button class="button is-danger">Cancel</button> -->
                </footer>
            </form>

            <script>
                function get_checkboxes() {
                    var checkboxes = [];

                    var inputs = document.getElementsByTagName("input");
                    for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].type == "checkbox") {
                            checkboxes.push(inputs[i]);
                        }
                    }
                    return checkboxes;
                }

                function update_selected_count() {
                    var checkboxes = get_checkboxes();
                    var selected = 0;

                    for (var i = 0; i < checkboxes.length; ++i) {
                        if (checkboxes[i].checked)
                            selected++;
                    }

                    var selected_count = document.getElementById("selected_count");
                    selected_count.innerText = selected + " selected";
                }

                function deselect_all() {
                    if (document.getElementsByTagName("table").length < 2)
                        var table = document.getElementsByTagName("table")[0];
                    else
                        var table = document.getElementsByTagName("table")[1];
                    var rows = table.rows;
                    var checkboxes = get_checkboxes();

                    for (var i = 1; i < rows.length; ++i) {
                        var c = checkboxes[i - 1];
                        c.checked = false;
                    }
                    update_selected_count();
                }

                function select_all() {
                    if (document.getElementsByTagName("table").length < 2)
                        var table = document.getElementsByTagName("table")[0];
                    else
                        var table = document.getElementsByTagName("table")[1];
                    var rows = table.rows;

                    var checkboxes = get_checkboxes();

                    for (var i = 1; i < rows.length; ++i) {
                        var c = checkboxes[i - 1];
                        var r = rows[i]

                        if (is_row_visible(i))
                            c.checked = true;
                        else
                            c.checked = false;
                    }
                    update_selected_count();
                }

                function is_row_visible(i) {
                    var input_title = document.getElementById("search_title")["value"].toLowerCase();
                    var input_artist = document.getElementById("search_artist")["value"].toLowerCase();

                    if (document.getElementsByTagName("table").length < 2)
                        var table = document.getElementsByTagName("table")[0];
                    else
                        var table = document.getElementsByTagName("table")[1];

                    var rows = table.rows;
                    var collection = JSON.parse('{{ collection_by_id | tojson | safe}}');

                    var song_id = rows[i].id;
                    var song = collection[song_id];
                    var row = rows[i];

                    var title = song.title.toLowerCase();
                    var artist = song.artist.toLowerCase();

                    if (input_title != '' && input_artist != '') {
                        return title.includes(input_title) && artist.includes(input_artist);
                    } else if (input_title != '' && input_artist == '') {
                        return title.includes(input_title);
                    } else if (input_title == '' && input_artist != '') {
                        return artist.includes(input_artist);
                    } else if (input_title == '' && input_artist == '') {
                        return true;
                    }
                    return true;
                }

                function update_add_table_rows() {
                    if ('{{ collection_by_id }}' == '')
                        return;

                    var input_title = document.getElementById("search_title")["value"].toLowerCase();
                    var input_artist = document.getElementById("search_artist")["value"].toLowerCase();

                    if (document.getElementsByTagName("table").length < 2)
                        var table = document.getElementsByTagName("table")[0];
                    else
                        var table = document.getElementsByTagName("table")[1];
                    var rows = table.rows;
                    var count = 0;

                    for (var i = 1; i < rows.length; ++i) {
                        var row = rows[i];

                        if (is_row_visible(i)) {
                            row.style.display = '';
                            count++;
                        } else {
                            row.style.display = 'none';
                        }
                    }

                    if (input_title == '' && input_artist == '') {
                        count = rows.length - 1;
                    }

                    var result_count = document.getElementById("result_count");
                    if (count == 1)
                        result_count.innerText = "1 result";
                    else
                        result_count.innerText = count + " results";
                }
            </script>
        </div>
    </div>

    <script>
       function table_sort() {
            const styleSheet = document.createElement('style')
            styleSheet.innerHTML = `
                    .order-inactive span {
                        visibility:hidden;
                    }
                    .order-inactive:hover span {
                        visibility:visible;
                    }
                    .order-active span {
                        visibility: visible;
                    }
                `
            document.head.appendChild(styleSheet)

            document.querySelectorAll('th.order').forEach(th_elem => {
                let asc = true
                const span_elem = document.createElement('span')
                span_elem.style = "font-size:0.8rem; margin-left:0.5rem"
                span_elem.innerHTML = "▼"
                th_elem.appendChild(span_elem)
                th_elem.classList.add('order-inactive')

                const index = Array.from(th_elem.parentNode.children).indexOf(th_elem)
                th_elem.addEventListener('click', (e) => {
                document.querySelectorAll('th.order').forEach(elem => {
                    elem.classList.remove('order-active')
                    elem.classList.add('order-inactive')
                })
                th_elem.classList.remove('order-inactive')
                th_elem.classList.add('order-active')

                if (!asc) {
                    th_elem.querySelector('span').innerHTML = '▲'
                } else {
                    th_elem.querySelector('span').innerHTML = '▼'
                }
                const arr = Array.from(th_elem.closest("table").querySelectorAll('tbody tr'))
                arr.sort((a, b) => {
                    const a_val = a.children[index].innerText
                    const b_val = b.children[index].innerText
                    return (asc) ? a_val.localeCompare(b_val) : b_val.localeCompare(a_val)
                })
                arr.forEach(elem => {
                    th_elem.closest("table").querySelector("tbody").appendChild(elem)
                })
                asc = !asc
                })
            })
        }

        table_sort()
    </script>
{% endblock %}