{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <section class="section">
                {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}

    <section class="section">
        {% if playlists != [] %}
            <nav class="level">
                <div class="level-item has-text-centered">
                    <table class="table is-hoverable has-text-left">
                        <thead>
                            <tr>                        
                                <th>Name</th>
                                <th>Songs</th>
                                <th>Share link</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playlist in playlists %}
                            <tr>
                                <td>{{ playlist.name }}</td>
                                <td>{{ playlist_preview[playlist.id] }}</td>
                                <td>
                                    {% if playlist.share %}
                                        <div class="field has-addons"> 
                                            <button class="button" name="{{playlist.id}}" onclick="copy_to_clipboard('{{ playlist.share_link }}')">
                                                <span class="icon is-small">
                                                    <i class="fas fa-copy"></i>
                                                </span>
                                            </button>

                                            <script>
                                                function copy_to_clipboard(l) {
                                                    var url = '{{ url_for("playlists.shared",  _external=True, link = "") }}' + l                                                    
                                                    navigator.clipboard.writeText(url);
                                                }
                                            </script>
                                            &nbsp
                                            {{ playlist.share_link }}
                                        </div>
                                    {% else %}
                                        private
                                    {% endif %}
                                </td>
                                
                                <td>
                                    <div class="field has-addons">
                                        <form name="form" action="publish" method="POST">
                                            {% if playlist.share %}
                                                <button class="button is-info" name="{{playlist.id}}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-bullhorn"></i>
                                                    </span>
                                                </button>
                                            {% else %}
                                                <button class="button is-success" name="{{playlist.id}}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-bullhorn"></i>
                                                    </span>
                                                </button>
                                            {% endif %}
                                        </form>

                                        &nbsp
                                        <form name="form" action="download" method="POST">
                                            <button class="button" name="{{playlist.id}}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-book"></i>
                                                </span>
                                            </button>
                                        </form>  
                                        &nbsp
                                        <form name="form" action="edit" method="POST">
                                            <button class="button" name="{{playlist.id}}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </button>
                                        </form>
                                        &nbsp
                                        <form name="form" action="delete" method="POST">
                                            <button class="button is-danger" name="{{playlist.id}}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </nav>
        {% else %}
            <p class="subtitle">
                You haven't created any playlists.
            </p>
        {% endif %}
    </section>

    <div id="modal-new-playlist" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
            <div class="box">
                <p class="subtitle">Create a new playlist</p>
                <form action="" method="POST">
                    {{ create_form.hidden_tag() }}
                    <p>{{ create_form.name(class = "input", placeholder = "Enter a name") }}</p>
                    <br>
                    <p>{{ create_form.submit(class = "button") }}</p>
                </form>
            </div>
        </div>      
    </div>
    <script>
        var forms = document.getElementsByName('form');

        // for (var j = 0; j < forms.length; j++) {
        //     var form = forms[j];
        //     form.addEventListener("submit", (e) => {
        //         disable_all_buttons();
        //         enable_loading_circle(e.submitter);
        //     });
        // }
       
        enable_all_buttons();

        function disable_all_buttons() {
            var buttons = document.getElementsByTagName('button');
            
            for (var i = 0; i < buttons.length; i++) {
                var b = buttons[i];                
                b.setAttribute('disabled', '');
            }
        }

        function enable_loading_circle(s) {
            s.classList.add("is-loading");
            s.classList.add("is-info");
        }

        function disable_loading_circle(s) {
            s.classList.remove("is-loading");            
            s.classList.remove("is-info");
        }

        function enable_all_buttons() {
            var buttons = document.getElementsByTagName('button');

            for (var i = 0; i < buttons.length; i++) {
                var b = buttons[i];
                b.classList.remove('disabled');
            }
        }
    </script>
{% endblock %}