{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">{{_("Forgot_password")}}</h3>
    <div class="box">
        <div class="block">
            {{_("forgot_password_help_3")}} 
            <!--Please check your emails (including your spam folder) and enter the key you received.-->
        </div>
        <div class="block">
            {{_("forgot_password_help_4")}} 
            <!--It probably takes a few minutes until the email arrives.-->
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        <div class="block">
            <form method="POST" action="/enter_password_code">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="key" placeholder={{_("Key")}} autofocus="">
                    </div>
                </div>
                <button class="button is-block is-info is-fullwidth">{{_("Set password")}}</button>
            </form>            
        </div>
        <div class="block">
            <form action="/login">               
                <button class="button is-block is-fullwidth">{{_("Back")}}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}