{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">{{_("Forgot_password")}}</h3>
    <div class="box">
        <div class="block">
            {{_("forgot_password_help_1")}} 
            <!--Please enter your email address and a new password that you would like to set.-->
        </div>
        <div class="block">
            {{_("forgot_password_help_2")}} 
            <!--Then, click on 'Send key' in order to receive an email containing a key. 
                Enter this key on the next page, then your password is set.-->
        </div>
        <div class="block">
            <form method="POST" action="/forgot_password">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" name="email" placeholder={{_("Email")}} autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder={{_("Password")}}>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="repeat_password" placeholder={{_("Repeat_password")}}>
                    </div>
                </div>              
                <button class="button is-block is-info is-fullwidth">{{_("Send Link")}}</button>
            </form>
        </div>
        <div class="block">    
            <form action="/login">
                <button class="button is-block is-fullwidth">{{_("Back")}}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}