{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">{{_("Login")}}</h3>
    <div class="box">
        <div class="block">           
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" name="email" placeholder={{_("Email")}} autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder={{_("Password")}}>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        {{_("Remember me")}}
                    </label>
                </div>
            
                <button class="button is-block is-info is-fullwidth">{{_("Login")}}</button>
            </form>
        </div>
        <div class="block">    
            <form action="/forgot_password">
                <button class="button is-block is-fullwidth">{{_("Forgot_password")}}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}