<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songbook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />    
    <link rel="stylesheet" href="https://bulma-divider.netlify.app//css/bulma-divider.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary is-small">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>                       
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                    Profile
                                </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('auth.signin') }}" class="navbar-item">
                                    Sign In
                                </a>
                                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                    Sign Up
                                </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth.signout') }}" class="navbar-item">
                                    Sign Out
                                </a> 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    {{ title if title else "Songbook"}}
                </p>
                <p class="subtitle">
                    {{ subtitle if subtitle else "Profile"}}
                </p>
            </div>
        </div>
    
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        {% if view == "overview" %} 
                            <li class="is-active"><a href="{{ url_for('main.profile') }}">Overview</a></li>
                        {% else %} 
                            <li><a href="{{ url_for('main.profile') }}">Overview</a></li> 
                        {% endif %}

                        {% if view == "collection" %}
                            <li class="is-active"><a href="{{ url_for('songs.collection') }}">Collection</a></li>
                        {% else %}
                            <li><a href="{{ url_for('songs.collection') }}">Collection</a></li>
                        {% endif %}

                        {% if view == "playlists" %}
                            <li class="is-active"><a href="{{ url_for('playlists.playlists') }}">Playlists</a></li>
                            <li class="js-modal-trigger" data-target="modal-new-playlist"><a>New playlist</a></li>
                        {% else %}
                            <li><a href="{{ url_for('playlists.playlists') }}">Playlists</a></li>
                        {% endif %}

                        {% if view == "add" %}
                            <li class="is-active"><a href="{{ url_for('songs.add') }}">New song</a></li>
                        {% elif view == "collection" %}
                            <li><a href="{{ url_for('songs.add') }}">New song</a></li>
                        {% endif %}

                        
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="hero is-fullheight">   
        <div class="hero-head">            
            {% block content %}
            {% endblock %}            
        </div>
        <div class="hero-body">
        </div>
    </section>
    
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <!-- <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. -->
                - Songbook - 
            </p>
        </div>
    </footer>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
        $el.classList.add('is-active');
    }

    function closeModal($el) {
        $el.classList.remove('is-active');
    }

    function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => {
        openModal($target);
        });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
        closeModal($target);
        });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
        const e = event || window.event;

        if (e.keyCode === 27) { // Escape key
        closeAllModals();
        }
    });
    });
</script>

</html>