{% extends "base_centered.html" %}

{% block content %}

<div class="column">
    <h1 class="title">Imprint / Impressum</h1>
    <h2 class="subtitle">
        Niklas Schneider <br>
        Rotenbergstraße 12 <br>
        66111 Saarbrücken     
    </h2>

    <br><br>
    
    <h2 class="subtitle">
        0157 51797455 <br>
        s8nlschn@stud.uni-saarland.de
    </h2>

    <br><br>

    <h1 class="title">Haftung</h1>
    <h3>
        Haftung für Inhalte:<br><br>
        Im Sinne von § 7 Absatz 1 TMG sind wir für die eigenen Inhalte auf dieser Webseite verantwortlich. 
        Durch §§ 8 bis einschließlich 10 TMG sind wir aber nicht verpflichtet, gespeicherte oder übermittelte fremde Inhalte zu überwachen oder diese auf Rechtswidrigkeit zu prüfen. 
        Das befreit uns jedoch nicht von der Pflicht, der Sperrung und Entfernung von Informationen nach geltenden Gesetzen nachzukommen.
    </h3>

    <br><br>
    
    <h1 class="title">Sources</h1>
    <h2>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. 
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
        The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        <br>
        <a href="https://www.flaticon.com/" title="icons">Icons created by Good Ware - Flaticon</a>
    </h2>
</div>

{% endblock %}